* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahome, sans-serif;
  font-size: 20px;
}

body {
  background-color: rgb(233, 230, 227);
}

.todo-form {
  width: 550px;
  margin: 10px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.todo-form input {
  border: none;
  padding: 20px 0px 20px 10px;
  font-size: 25px;
  outline: none;
  font-style: italic;
  color: rgb(168, 164, 164);
  width: 400px;
}

.todo-form i {
  display: block;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.3;
  text-align: left;
}

.dark-opacity {
  opacity: 0.9 !important;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  border: 1px solid rgb(149, 255, 154);
  font-size: 25px;
  font-weight: 400;
  font-weight: 900;
  line-height: 25px;
  height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label:before {
  color: rgb(77, 255, 91);
  border-color: rgb(97, 255, 76);
}
